@media (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: .8em;
  }
}
@media (min-width: 767px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.2em;
  }
}